* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    background: #fff;
    overflow-x: hidden;
}
.navbar {
    width: 100%;
    height: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 6%);
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    transition: 0.2s;
}
.navbar__container {
    display: flex;
    justify-content: space-between;
}
.navbar.sticky {
    box-shadow: 0 5p 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px grey;
    padding: 2.5rem 0;
    position: fixed;
}
.navbar.sticky .imgBx img:nth-child(2){
    display: none;
    transition: .2s;
}
.navbar.sticky .imgBx img:nth-child(1){
    width: 100px;
    margin-left: 5rem;
    transition: .2s;
}
.container {
    width: 90%;
    height: 100%;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgBx {
    width: 7%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.imgBx img {
    width: 45px;
    transition: .2s;
}
.imgBx img:nth-child(2){
    width: 70px;
    transition: .2s;
}
.btns {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}
.btns img {
    border-radius: 50%;
}
.btns select {
    margin-left: -1rem;
    border: none;
    outline: none;
    font-size: 15px;
}

.btns button{
    color: black;
    background: none;
}
.login {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}
.login:hover {
    text-decoration: none;
    cursor: pointer;
}
.register {
    width: auto;
    height: 36px;
    border-radius: 4px;
    border: 2px solid #009551;
    color: #000;
    letter-spacing: 0.2px;
    font: 400 16px/32px 'Rubble', 'Proxima Nova', sans-serif;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px;
    transition: all .3s ease;
    cursor: pointer;
}
.register:hover{
    background: #009551;
    color: white;
}
.section_one {
    width: 100%;
    display: flex;
    justify-content: center; 
    height: calc(100vh - 110px);
    background: url(https://cdn.megabonus.com/images/landing_new/main_bg.png) center no-repeat;
    background-size: 100%;
    position: relative;
    max-width: 1610px;
    margin: auto;
    padding-top: 40px;
}
.section_one .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    flex-direction: column;
    margin-top: 2rem;
}
.section_one .container h1 {
    font-size: 36px;
    letter-spacing: 0.3px;
    color: #000;
    font-weight: 300;
    font-family: verdana;
    position: relative;
}
.section_one .container h1::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 300px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    background-size: 200% 200%;
    animation: animate 2s linear infinite;
    top: 105%;
    left: 13%;
}
@keyframes animate {
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}
.section_one .container .cash {
    position: absolute;
    top: 15%;    
    font-size: 11px;
    letter-spacing: 3px;
    text-align: center;
    color: #3a3a3a;
    font-weight: normal;
    margin-bottom: 48px;
    text-transform: uppercase;
    line-height: 2.18;

}
.section_one .container .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin-top: -50%;
}
.section_one .container a {
    color: black;
}
.markets {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 300px;
    border: 1px solid #f2f2f2;
    background: #fffffd;
    border-radius: 8px;
    transition:  .5s ;
    position: relative;
}
.markets::before {
    content: "D";
    position: absolute;
    width: 35px;
    height: 35px;
    background: #009551;
    border-radius: 50%;
    top: 4%;
    left: 4%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: verdana;
    font-weight: bold;
    box-shadow: 0 0 10px #009551;
}
.markets:hover {
    box-shadow: 0 3px 24px 0 rgb(3 31 92 / 7%);
    border: 1px solid transparent;
    transition: .5s;
}
.markets img {
    width: 60%;
    position: absolute;
    bottom: 60%;
}
.markets p{
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    position: absolute;
    bottom: 40%;
}
.markets h3 {
    letter-spacing: normal;
    line-height: 1.4;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    bottom: 20%;
}
.markets h4 {
    color: #a6aeb7;font-size: 12px;
    text-align: center;
    color: #a6aeb7;
    font-family: verdana;
    position: absolute;
    bottom: 7%;
}
.arrow {
    position: absolute;
    bottom: 5%;
    background: #000;
    font-size: 50px;
    animation: animation 2s linear infinite;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.arrow img {
    width: 36px;
}
@keyframes animation {
    25%{
        /* background-position: left bottom;
        position: absolute;
        bottom: 2%; */
        transform: translateY(-15%);
        transition: all .3s ease-in-out;
    }
    50%{
        /* background-position: right bottom; */
        transform: translateY(-17%);
        transition: all .3s ease-in-out;
    }
    75%{
        /* background-position: right top; */
        transform: translateY(-15%);
        transition: all .3s ease-in-out;
    }
    100%{
        /* background-position: left top;
        position: absolute;
        bottom: 8%; */
        transform: translateY(10%);
        transition: all .3s ease-in-out;
    }
}
.section_two {
    height: 75vh;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 2.85rem;
}
.section_two h1 {
    font-size: 36px;
    letter-spacing: 0.3px;
    color: #000;
    font-weight: 300;
    font-family: verdana;
    position: relative;
    position: absolute;
    top: 16%;
}
.section_two h1::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 300px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    background-size: 200% 200%;
    animation: animate 2s linear infinite;
    top: 105%;
    left: 19%;
}
.section_two p {
    font-size: 11px;
    line-height: 2.18;
    letter-spacing: 3px;
    text-align: center;
    color: #3a3a3a;
    margin: 12px 0 64px;
    text-transform: uppercase;
    position: absolute;
    top: 28%;
}
.section_two img {
    width: 55%;
    background: #fff;
    padding: 2rem 4rem;
    position: absolute;
    top: 40%;
    border-left: 5px solid #009551;
}
.section_three {
    height: 90vh;
    width: 100%;
    background: #fff;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section_three .container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.section_three .container h1 {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000;
    line-height: 1.11;
    margin-bottom: 19px;
    text-transform: none;
    font-family: verdana;
    position: relative;
}
.section_three .container h1::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 500px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    background-size: 200% 200%;
    animation: animate 2s linear infinite;
    top: 110%;
    left: 24%;
}
.section_three .container h1 i {
    color: red;
}
.section_three .container .cash {
    position: absolute;
    top: 20%;
    font-size: 11px;
    font-weight: normal;
    line-height: 2.18;
    text-align: center;
    color: #3a3a3a;
    letter-spacing: 3px;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.section_three .container img {
    margin-top: 2rem;
}
.section_three .container .social_btns {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.section_three .container .social_btns a {
    text-decoration: none;
    color: white;
}
.section_three .container .social_btns a button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 30px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    position: relative;
    font-family: verdana;
}
.section_three .container .social_btns a button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1%;
    background: #fff;
    top: 0;
    left: 70%;
}
.section_three .container .social_btns a:nth-child(1) button{
    background: #4a669f;
}
.section_three .container .social_btns a:nth-child(2) button{
    background: #5e88b9;
}
.section_three .container .social_btns a:nth-child(3) button{
    background: #57acf6;
}
.section_three .container .social_btns a:nth-child(4) button{
    background: #e88523;
}
.section_four {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_four .container {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section_four .container .items {
    width: 25%;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.section_four .container .items h2 {
    font-size: 22px;
    font-weight: 800;
    margin: 0 0 25px;
    padding: 0;
    font-family: verdana;
    color: black;
}
.section_four .container .items a {
    font-size: 18px;
    color: #3498db;
    text-decoration: none;
    font-weight: 100;
    font-family: verdana;
}
.section_four .container .items a:hover {
    text-decoration: underline;
}
.section_four .container .items:nth-child(4) p {    
    font-size: 18px;
    line-height: 30px;
    display: block;
    margin: 0;
    font-family: sans-serif;
}
.section_five {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section_five .container {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 14%;
}
.section_five .container .images {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section_five .container .cash {
    display: block;
    text-align: center;
    line-height: 16px;
}
.section_five .container .cash p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.section_five .container .social_btns {
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.section_five .container .social_btns a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_five .container .social_btns a:nth-child(1){
    background: #5e88b9;
}
.section_five .container .social_btns a:nth-child(2){    
    background: #e88523;
}
.section_five .container .social_btns a:nth-child(3){
    background: #4a669f;
}
.section_five .container .social_btns a:nth-child(4){
    background: #57acf6;
}
.section_five .container .texts {
    text-align: center;
}
.section_five .container .texts p {    
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    display: block;
    padding: 37px 0 0 0;
    font-family: verdana;
    margin: 1rem;
}
.section_five .container .texts h3 {
    display: block;
    text-align: center;
    color: #ababab;
    margin: 0 0 54px;
    text-decoration: none;
    transition: all 200ms linear;
}
.section_five .container .texts span a {
    font-family: 'Rubble', 'Proxima Nova', sans-serif;
    text-decoration: none;
    color: #3498db;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
}
.section_five .container .texts span a:hover {
    text-decoration: underline;
    color: #222;
}
.section_five .container .download_img {
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* obshiy media */


@media (max-width:1599px){
    body {
        overflow-x: hidden;
    }
}
/* navbar uchun media yozilgan qator */
@media (max-width: 1490px){
    .section_one .container h1::after, .section_three .container h1::after, .section_two h1::after, .section_three .container h1::after{
        display: none;
    }
    .navbar .container .btns {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }
    .navbar .container .imgBx {
        width: 14%;
    }
    .section_three .container .social_btns {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;    
    }
    .section_three .container .social_btns a {
        margin: .6rem;
    }  
    .section_four .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .section_four .container .items {
        margin: 1rem;  
        width: 400px; 
    }
    .section_five {
        margin-top: 20rem;
    }
    .arrow {
        display: none;
    }
}
@media (max-width: 380px){
    .navbar .container .btns img {
        display: none;
    }
}
@media (max-width: 880px) and (min-width: 500px){
    .section_five {
        margin-top: 60rem;
    }
}
@media (max-width: 1045px) and (min-width: 750px){
    .navbar .container .btns {
        width: 74%;
    }
    .navbar .container .imgBx {
        width: 20%;
    }
}
@media (max-width: 700px){
    .navbar .container .btns .register {
        display: none;
    }
    .navbar .container .imgBx {
        width: 30%;
    }
    .section_five .container .images img {
        width: 30%;
    }
    .section_five .container .social_btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .section_five .container .download_img {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .section_five .container .social_btns a {
        margin: 0.6rem;
    }
}
@media (min-width: 320px){
    .navbar.sticky .container .imgBx img:nth-child(1){
        width: 30%;
        margin-left: 2rem;
        transition: .2s;
    }
}
@media (max-width: 750px) and (min-width: 700px){
    .navbar .container .btns {
        width: 75%;
    }
}

/* section_one media yozilgan qatori */
@media (max-width: 1045px) and (min-width: 750px){
    .section_one .container .content {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 750px) {
    .section_one .container .content {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        margin-top: 5rem;
    }
    .section_one .container .content a .markets {
        width: 250px;
        height: 200px;
    }
}
@media (max-width: 520px) {
    .section_one .container h1, .section_two  h1, .section_three .container h1 {
        font-size: 25px;
    }
    .section_two img {
        width: 80%;
        margin-top: 5rem;
    }
    .section_one .container .content {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        flex-direction: column;
    }
    .section_one .container .content a .markets {
        margin-bottom: 0.5rem;
    }
    .section_five {
        margin-top: 70rem;
    }
}

/* DAO NOTIFICATION CUSTOM STYLE */
.vue-notification {
    padding: 15px;
    margin: 1rem 5px 5px;
    font-size: 12px;
    color: #ffffff;
    background: #44A4FC;
    border-left: 5px solid #187FE7;
 }
.vue-notification.warn {
    background: #ffb648;
    border-left-color: #f48a06;
    color: #333;
    font-size: 12px;
}

.vue-notification.error {
    background: #E54D42;
    border-left-color: #B82E24;
    
}
.vue-notification.success {
    background: #68CD86;
    border-left-color: #42A85F;
}
h1{
    font-size: 200%;
}
/* END NOTIFICATION STYLE */
.text-center {
    text-align: center;
}
/* FLEX */
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
/* WIDTH */
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
/* PADDING  ALL CLASSES*/
/* TOP */
.pt-5 {
    padding-top: 5rem;
}
.pt-4{
    padding-top: 4rem;
}
.pt-3 {
    padding-top: 3rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-1 {
    padding-top: 1rem;
}
/* BOTTOM */
.pb-5 {
    padding-bottom: 5rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-1 {
    padding-bottom: 1rem;
}
/* VERTICAL */
.py-1{
    padding: 1rem 0 1rem 0
}
.py-2 {
    padding: 2rem 0 2rem 0
}
/* MARGIN ALL CLASSES*/
/* TOP */
.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}
/* BOTTOM */
.mb-5 {
    margin-bottom: 5rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}